/* body {
    background-color: #DEB887;
}

h1 {
    color:#2E8B57;
    text-align: center;
}

h2 {
    color:#2E8B57;
   
}

a {
    font-family: Arial;
    color: #2E8B57;
    font-size: 15px;
    background-color: #ffffff00; 
}

a:hover {
    color: #FFFFFF;
    background-color: #ff0000; 
}

.active {
    color: #4800ff; 
    background-color: rgba(0, 0, 0, 0); 
}



.container {
    text-align: center;
    margin-top: 100px;
}

.quote {
    margin-top: 30px;
    font-size: 20px;
}

#generate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#generate-btn:hover {
    background-color: #0056b3;
}
/*