body {
    background-color: #DEB887;
}

h1 {
    color:#2E8B57;
    text-align: center;
}

h2 {
    color:#2E8B57;
   
}

a {
    font-family: Arial;
    color: #2E8B57;
    font-size: 15px;
    background-color: #ffffff00; /* Transparent background */
}

a:hover {
    color: #FFFFFF;
    background-color: #2E8B57; /* Change background color on hover */
}

.active {
    color: #4800ff; /* Change color of active link */
    background-color: rgba(0, 0, 0, 0); /* Change background color of active link */
}

