/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  
  
  
  
  /* Card Styles */
  article {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  /* Button Styles */
  .card-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  
  
  .card-buttons button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    margin: 0 320px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
  }
  
  .card-buttons button a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  
  .card-buttons button a i {
    margin-right: 5px;
  }
  
  .card-buttons button:hover {
    background-color: #0056b3;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    opacity: 0.5;
    margin-top: 20px;
    flex-shrink: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 32px; /* Slightly increased padding for a more spacious feel */
  box-sizing: border-box;
  background-color: #000000; /* Softer background color for a more modern look */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 200px;  /* Moderately rounded edges */
  transition: box-shadow 0.3s;
  
}

nav:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow on hover */
}

/* List styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px; /* Increased spacing between menu items for better separation */
}

/* List item styles */
nav ul li {
  position: relative;
  padding-bottom: 1px; /* Space for the dot */
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 42%;
  transform: translateX(-50%);
  width: 8px; /* Size of the dot */
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover::after,
nav ul li a.current-page::after {
  background-color: #000000; /* Color of the dot */
  transform: translateX(-50%) scale(1.2); /* Slightly enlarge the dot */
}


/* Link styles */
nav ul li a {
  display: block;
  padding: 12px 24px; /* Increased padding for a cleaner look */
  color: #ffffff; /* Darker text color for better readability */
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;  /* Rounded edges for a softer look */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern and clean font */
  font-size: 16px; /* Consistent font size */
}

/* Link hover styles */
nav ul li a:hover {
  color: #000000;
  background-color: #ffffff; /* Primary color for hover effect */
  transform: translateY(-2px); /* Subtle lift on hover */
}

/* Selected link styles */
nav ul li a.current-page {
  color: #000000;
  background-color: #ffffff; /* Darker primary color for selected item */
  transform: translateY(-2px); /* Consistent lift for selected item */
}

/* Full highlight for selected and hovered items */
nav ul li ul li a:hover, nav ul li ul li a.selected {
  background-color: #0056b3;
  color: #ffffff;
  transform: translateY(-2px); /* Subtle lift on hover */
}



/* Full highlight for selected and hovered items */
nav ul li ul li a:hover, nav ul li ul li a.selected {
  background-color: #ff0000;
  color: #ffffff;
}

h1 {
  text-align: left;
  font-size: 8em;
  margin-bottom: 20px;
}



.scroller {
  max-width: 2000px;
}

.scroller__inner {
  padding-block: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 0.1%, white 99.9%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}