
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000000;
        }

        main {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;
        }

        .card {
            background-color: #fff;
            box-shadow: 0 4px 8px 0 rgba(227, 227, 227, 0.884);
            transition: 0.3s;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            animation: fadeIn 0.5s ease-in-out;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
            transform: translateY(-5px);
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 100px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Card animation */
.animate {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Text animation */
@keyframes textAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
    
.scroller {
  max-width: 2000px;
}

.scroller__inner {
  padding-block: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 0.1%, white 99.9%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 32px; /* Slightly increased padding for a more spacious feel */
  box-sizing: border-box;
  background-color: #ffffff; /* Softer background color for a more modern look */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 200px;  /* Moderately rounded edges */
  transition: box-shadow 0.3s;
  
}

nav:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow on hover */
}

/* List styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px; /* Increased spacing between menu items for better separation */
}

/* List item styles */
nav ul li {
  position: relative;
  padding-bottom: 1px; /* Space for the dot */
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 42%;
  transform: translateX(-50%);
  width: 8px; /* Size of the dot */
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover::after,
nav ul li a.current-page::after {
  background-color: #ffffff; /* Color of the dot */
  transform: translateX(-50%) scale(1.2); /* Slightly enlarge the dot */
}


/* Link styles */
nav ul li a {
  display: block;
  padding: 12px 24px; /* Increased padding for a cleaner look */
  color: #000000; /* Darker text color for better readability */
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;  /* Rounded edges for a softer look */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern and clean font */
  font-size: 16px; /* Consistent font size */
}

/* Link hover styles */
nav ul li a:hover {
  color: #ffffff;
  background-color: #000000; /* Primary color for hover effect */
  transform: translateY(-2px); /* Subtle lift on hover */
}


p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: left; /* Ensure text alignment is left */
  width: 100%; /* Adjust the width as needed */
  max-width: 800px; /* Increase the maximum width for better readability */
  margin: 0px auto; /* Center align the paragraph with top/bottom margin */
  color: #000000;
  position: relative; /* Add position relative for absolute positioning */
  left: 0%; /* Adjust the horizontal position */
  top: 0px; /* Adjust the vertical position */
}


/* Selected link styles */
nav ul li a.current-page {
  color: #ffffff;
  background-color: #000000; /* Darker primary color for selected item */
  transform: translateY(-2px); /* Consistent lift for selected item */
}

/* Full highlight for selected and hovered items */
nav ul li ul li a:hover, nav ul li ul li a.selected {
  background-color: #0056b3;
  color: #ffffff;
  transform: translateY(-2px); /* Subtle lift on hover */
}



/* Full highlight for selected and hovered items */
nav ul li ul li a:hover, nav ul li ul li a.selected {
  background-color: #ff0000;
  color: #ffffff;
}

h1 {
  text-align: left;
  font-size: 8em;
  margin-bottom: 20px;
  color: #ffffff;
}

.fixed-buttons {
  position: fixed;
  left: 20px;
  top: 65%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.fixed-buttons button {
  margin: 15px 0;
  padding: 20px 15px;
  background-color: #a80202;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.fixed-buttons button:hover {
  background-color: #003399;
}



@media (max-width: 1200px) {
  h1 {
      font-size: 6em;
  }
  .typing-animation {
      font-size: 100px;
  }
  img {
      width: 40%;
  }
}

@media (max-width: 992px) {
  h1 {
      font-size: 5em;
  }
  .typing-animation {
      font-size: 80px;
  }
  img {
      width: 50%;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 4em;
  }
  .typing-animation {
      font-size: 60px;
  }
  img {
      width: 60%;
      left: 50%;
      transform: translateX(-50%);
  }
  nav ul {
      flex-direction: column;
      gap: 12px;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: 3em;
  }
  .typing-animation {
      font-size: 40px;
  }
  img {
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
  }
  nav {
      padding: 8px 16px;
  }
  nav ul {
      gap: 8px;
  }
  nav ul li a {
      padding: 8px 16px;
      font-size: 14px;
  }
}

@media (max-width: 400px) {
  h1 {
      font-size: 2em;
  }
  .typing-animation {
      font-size: 30px;
  }
  img {
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
  }
  nav ul li a {
      padding: 6px 12px;
      font-size: 12px;
  }
}
