/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer {
  text-align: center;
  opacity: 0.5;
  margin-top: 155px;
  flex-shrink: 0;
}

.site-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 90%;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  position: relative;
}

.site-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.site-card h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.site-card p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.site-card a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.site-card a:hover {
  color: #0056b3;
}

.card-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.card-buttons button {
  background-color: #0d00ff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.card-buttons button i {
  margin-right: 5px;
}

.card-buttons button:hover {
  background-color: #18278d;
}

.pdf-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.pdf-embed {
  width: 100%;
  height: 800px;
}

.close-button {
  background-color: #000dff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #cc0000;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .site-card {
    max-width: 80%;
  }

  .pdf-embed {
    height: 700px;
  }
}

@media (max-width: 992px) {
  .site-card {
    max-width: 90%;
  }

  .pdf-embed {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .site-card {
    padding: 20px;
  }

  .card-buttons {
    flex-direction: column;
  }

  .card-buttons button {
    margin: 10px 0;
  }

  .pdf-embed {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .site-card {
    padding: 15px;
  }

  .pdf-embed {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .site-card {
    padding: 10px;
  }

  .pdf-embed {
    height: 300px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 32px; /* Slightly increased padding for a more spacious feel */
  box-sizing: border-box;
  background-color: #000000; /* Softer background color for a more modern look */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 200px;  /* Moderately rounded edges */
  transition: box-shadow 0.3s;
  
}

nav:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow on hover */
}

/* List styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px; /* Increased spacing between menu items for better separation */
}

/* List item styles */
nav ul li {
  position: relative;
  padding-bottom: 1px; /* Space for the dot */
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 42%;
  transform: translateX(-50%);
  width: 8px; /* Size of the dot */
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover::after,
nav ul li a.current-page::after {
  background-color: #000000; /* Color of the dot */
  transform: translateX(-50%) scale(1.2); /* Slightly enlarge the dot */
}


/* Link styles */
nav ul li a {
  display: block;
  padding: 12px 24px; /* Increased padding for a cleaner look */
  color: #ffffff; /* Darker text color for better readability */
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;  /* Rounded edges for a softer look */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern and clean font */
  font-size: 16px; /* Consistent font size */
}

/* Link hover styles */
nav ul li a:hover {
  color: #000000;
  background-color: #ffffff; /* Primary color for hover effect */
  transform: translateY(-2px); /* Subtle lift on hover */
}

/* Selected link styles */
nav ul li a.current-page {
  color: #000000;
  background-color: #ffffff; /* Darker primary color for selected item */
  transform: translateY(-2px); /* Consistent lift for selected item */
}

/* Full highlight for selected and hovered items */
nav ul li ul li a:hover, nav ul li ul li a.selected {
  background-color: #0056b3;
  color: #ffffff;
  transform: translateY(-2px); /* Subtle lift on hover */
}



/* Full highlight for selected and hovered items */
nav ul li ul li a:hover, nav ul li ul li a.selected {
  background-color: #ff0000;
  color: #ffffff;
}

h1 {
  text-align: left;
  font-size: 8em;
  margin-bottom: 20px;
}