body {
  font-family: Arial, sans-serif;
}


.scroller {
  max-width: 2000px;
}

.scroller__inner {
  padding-block: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 0.1%, white 99.9%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}



.filters {
  margin: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  background-color: #000000;
  color: white; /* Set button text color to white */
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s;
  font-size: 15px;
}

.filter-btn:hover {
  background-color: #9d1c1c;
  color: rgb(255, 255, 255); /* Change text color on hover */
}

.filter-btn.active {
  background-color: #9d1c1c;
  color: white; /* Ensure text color stays white when active */
  font-weight: bold;
}

.block-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.block {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.block.hide {
  transform: translateY(-20px);
  opacity: 0;
}

.image-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}



.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.block:hover .image-container img {
  filter: brightness(1.05); /* Subtle hover effect */
}

.block h3 {
  font-weight: bold;
  margin: 10px 0 0 0;
  text-align: left;
}

.block p {
  font-style: italic;
  margin: 5px 0 0 0;
  text-align: left;
}
